body{
	background-color: #d9d9d9
	
}

header{
	color:#4d004d ;
	text-align: center ;
	font-family: "Sofia", sans-serif;
	font-size: 34px ;
	margin-top: 40px;
}

p.başlık {
	color: #330066 ;
	text-align: center ; 
	font-style: italic ; 
	font-weight: 800 ;
	font-size: 23px
}
table.hakkımda{
	text-align: center;
	padding : 4px;
	float:center;
	border-spacing: 5px;
	font-size: 19px ;
}

#canvas 
{
	display: inline-block ;
    background-color:#d9d9d9;
	margin-left: 1200px ;
	margin-top: 40px ;
}

a:link{
	color: blue ;
	text-decoration: underline ;
}

a:visited{
	color: red ;
	text-decoration: none ;	
	
}

a:hover{
	color: green ;
	text-decoration: underline ;
	border-bottom: double ;
}

.cv1{
	list-style-type: none ;
}

.ProgressBarHtml{
	color: red ;
}

progress{
	height: 30px ;
}

/*iletişim formu */
.form1 {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #80ccff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}




/*
#clockContainer {
	position: absolute;
    margin: auto;
    height: 40vw;

    width: 40vw;
    background: url(clock.png) no-repeat;

    background-size: 10px
}
  
#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
  
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}
  
#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
  
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}

*/
